<div class="container-form">
  <%= simple_form_for @cocktail do |f| %>
  <%= f.input :name, label: "Cocktail Name" %>
  <div class="container-flex space-between">
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.button :submit, class:" btn dbtn"%>
    <%= link_to "return", root_path, class:"btn dbtn" %>
  </div>
  <% end %>

</div>




