<% options = ["love & care", "reckless abandon", "sugar, spice, and everything nice", "vengful rage", "an overwhelming sense of graditude", "humility and deference", "only G-d know's what"] %>

<div class="card-trip">
  <% if @cocktail.photo.present? %>
  <%= cl_image_tag @cocktail.photo, height: 300, width: 300, crop: :fill %>
  <% else %>
  <p>There is no image here</p>
<% end %>
  <div class="card-trip-infos">
    <div>
      <h2><%= @name %></h2>
      <%= link_to cocktail_path(@cocktail), method: :delete do %>
        <i class="fas fa-sad-cry"> Delete</i>
      <% end %>
      <p><%= "#{@name} is made with #{options.sample}. Also:" %></p>
      <% @doses.each do |dose| %>
        <p>
          <%= "#{dose.ingredient.name} @ #{dose.description}."%>
          <%= link_to dose_path(dose), method: :delete do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        </p>
      <% end %>
      <%= link_to "Add Dose", new_cocktail_dose_path(@cocktail), Class:"btn dbtn show-btn" %>
  </div>
</div>
